.image-container {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
  margin: 0 !important;
  padding-top: 0 !important;
  span {
    padding: 0 !important;
  }
  .image {
    top: 0 !important;
    margin: 0 !important;
    position: relative !important;
    height: unset !important;
    object-fit: contain !important;
  }
}
