header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  background-color: $white;
  .logo {
    padding-left: 4rem;
    font-family: $title-ff;
    font-size: 2rem;
  }
  ul {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    li {
      position: relative;
      width: 250px;
      height: 100%;
      a {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0px;
        background-color: $black;
        transition: height 0.3s ease-in-out;
      }
      &.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        background-color: $black;
        z-index: -1;
      }
      &.active a {
        color: $white;
        transition: color 0.3s ease-in-out;
      }
    }
  }
}

footer {
  position: relative;
  width: 100%;
  background-color: $black;
  color: $white;
  padding: 100px 4rem;
}

/* menu */

.menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: -2;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  .bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: $black;
    color: $white;
    transform: translate(100%, 0);
    transition: all 0.57s cubic-bezier(0.28, 0.81, 0.43, 0.97);
    will-change: all;
    z-index: 1;
  }
  .wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 8rem 3rem;
    background-color: transparent;
    color: $white;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.28, 0.81, 0.43, 0.97);
    will-change: all;
    z-index: 2;
  }
  &.-open {
    z-index: 99;
    opacity: 1;
  }
  &.-open .wrapper {
    opacity: 1;
  }
  &.-open .bg {
    transform: translate(0, 0);
  }
}

/* burger */

.burger-wrap {
  position: fixed;
  top: 0;
  right: 0;
  height: 6rem;
  width: 6rem;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.burger {
  position: relative;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: "";
    left: -1rem;
    width: 2rem;
    height: 1px;
    position: absolute;
    transition: all 250ms ease-out;
    will-change: transform;
    background-color: $black;
  }
  &::before {
    transform: translateY(-0.25rem);
  }
  &::after {
    transform: translateY(0.25rem);
  }
  &.-open {
    &::before {
      transform: translateY(0) rotate(45deg);
      background-color: $white;
    }
    &::after {
      transform: translateY(0) rotate(-45deg);
      background-color: $white;
    }
  }
}
